/* VISUAL */
.visual {
  margin-top: 80px;
  background-image: url("../images/visual_bg.jpg");
}
.visual .inner {
  height: 700px;
}
.visual .title {
  position: absolute;
  top: 88px;
  left: -10px;
}
.visual .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}
.visual .visual1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}
.visual .visual2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}
.visual .visual3.image {
  position: absolute;
  bottom: 200px;
  left: 300px;
}
.visual .visual4.image {
  position: absolute;
  top:500px;
  left:1110px;
}
.visual .visual5.text {
  position: absolute;
  top: 500px;
}
.visual .fade-in {
  opacity: 0;
}


/* NOTICE */
.notice .notice-line {
  position: relative;
}
.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #0095c8;
}
.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
}
.notice .notice-line .inner {
  height: 62px;
  z-index: 1;
  display: flex;
}
.notice .notice-line .inner__left {
  width: 60%;
  height: 100%;
  background-color: #0095c8;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
.notice .notice-line .inner__left .swiper-container {
  height: 62px;
  flex-grow: 1;
}
.notice .notice-line .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left .swiper-slide a {
  color: #fff;
}
.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__left .notice-line__more .material-icons {
  color: #fff;
  font-size: 30px;
}
.notice .notice-line .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.notice .notice-line .inner__right h2{
  font-size: 17px;
  font-weight: 700;
}
.notice .notice-line .inner__right .toggle-product {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__right .toggle-product .material-icons {
  font-size: 30px;
}
.notice .product {
  height: 640px;
  background-color: #fff;
  position: relative;
  transition: height .4s;
  overflow: hidden;
}
.notice .product.hide {
  height: 0;
}
.notice .product .swiper-container {
  width: calc(819px * 3 + 20px);
  height: 580px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2);
}
.notice .product .swiper-slide {
  opacity: .5;
  transition: opacity 1s;
  position: relative;
}
.notice .product .swiper-slide h4{
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 40px;
  border: 2px solid #0095c8;
  border-radius: 50px;
}
.notice .product .swiper-slide .setimg{
  width: 150px;
  height: 200px;
  float: left;
  margin-left: 42px;
  margin-bottom: 20px;
}
.notice .product .swiper-slide .setimg:hover{
  /* border: 2px solid rgb(0,149,200) ; */
  transform: scale(1.1);
  transition: .2s
}
.notice .product .swiper-slide-active {
  opacity: 1;
}
.notice .product .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.notice .product .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}
.notice .product .swiper-pagination .swiper-pagination-bullet {
  background-image: url("../images/product_slide_pager.png");
  background-color: transparent;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  margin-bottom: 15px;
  outline: none;
}
.notice .product .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.notice .product .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/product_slide_pager_on.png");
}
.notice .product .swiper-prev,
.notice .product .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}
.notice .product .swiper-prev {
  left: 50%;
  margin-left: -480px;
}
.notice .product .swiper-next {
  right: 50%;
  margin-right: -480px;
}
.notice .product .swiper-prev:hover,
.notice .product .swiper-next:hover {
  background-color: #333;
  color: #fff;
}

/* YOUTUBE VIDEO */
.youtube {
  position: relative;
  height: 700px;
  background-color: #333;
  overflow: hidden;
}
.youtube .youtube__area {
  width: 1920px;
  position: absolute;
  left: 50%;
  margin-left: calc(1920px / -2);
  top: 50%;
  margin-top: calc(1920px * 9 / 16 / -2);
}
.youtube .youtube__area::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.youtube .youtube__cover {
 background-image: url("../images/video_cover_pattern.png");
 background-color: rgba(0,0,0,.3);
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%; 
}
#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.youtube .inner {
  height: 700px;
}
.youtube .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}
.youtube .floating2 {
  position: absolute;
  top: 350px;
  left: 150px;
}

/* DUC HOME PAGE */
.duc-homepage {
  background-image: url("../images/daelim_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.duc-homepage .inner {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.duc-homepage .floating3 {
  position: absolute;
  top: -300px;
  right: 0;
}
.duc-homepage .medal {
  width: 334px;
  height: 334px;
  perspective: 600px;
}
.duc-homepage .medal .front,
.duc-homepage .medal .back {
  width: 334px;
  height: 334px;
  position: absolute;
  backface-visibility: hidden;
  transition: 1s;
}
.duc-homepage .medal .front {
  transform: rotateY(0deg);
}
.duc-homepage .medal:hover .front {
  transform: rotateY(180deg);
}
.duc-homepage .medal .back {
  transform: rotateY(-180deg);
}
.duc-homepage .medal:hover .back {
  transform: rotateY(0deg);
}
.duc-homepage .medal .back .btn {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}

/* FIND A BOOK */
.find-book {
  background-image: url("../images/use_limbook_bg.jpg");
}
.find-book .inner {
  height: 400px;
}
.find-book .texture1 {
   position: absolute;
   top: 0;
   left: 400px;
}
.find-book .texture2 {
   position: absolute;
   bottom: 0;
   right: 0;
}
.find-book .picture {
  position: absolute;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0,0,0,.5);
}
.find-book .picture1 {
  top: -60px;
  left: 0;
}
.find-book .picture2 {
  top: 150px;
  left: 250px;
}
.find-book .text-group {
  position: absolute;
  top: 120px;
  left: 550px;
}
.find-book .text-group .title {
  margin-bottom: 20px;
}
.find-book .text-group .description {
  margin-bottom: 20px;
}

/* SITE-LINK */
.site-link {
  background-color: #0095c8
}
.site-link .inner {
  padding: 40px 0;
}
.site-link .swiper-container .swiper-slide {
  border: 2px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
}
.site-link .swiper-prev,
.site-link .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  color: #fff;
  opacity: .5;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: .5s;
  margin: auto;
}
.site-link .swiper-prev {
  left: -100px;
}
.site-link .swiper-next {
  right: -100px;
}
.site-link .swiper-prev:hover,
.site-link .swiper-next:hover {
  background-color: #fff;
  color: #333;
}

#to-top {
  width: 42px;
  height: 42px;
  background-color: #0095c8;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}

/* ���� */
.main .container{padding:30px 0;background:#FDFDFD;}
#main_left{width:800px;float: left;}
#main_right{width:370px;float: left; margin-left:30px}
/* ��� �κ� */
#main_banner_zone:after{display:block;content:'';clear:both;}
#main_banner_zone > div{float: left;margin-right: 30px;}
#main_banner_zone > div a{display: block;}
#main_banner_zone > div.last{margin-right:0;}
#main_banner_zone .banner1{width:260px;height:140px;}
#main_banner_zone .banner2{width:510px;height:140px;}

/* �Խ��� �κ� */
#main_board_zone{width:100%;background:#fff;margin-top:30px;border:1px solid #E8EAEB;}
#main_board_zone .tab_content ul li{line-height:50px;border-bottom:1px solid #E8EAEB; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;padding:0 30px;}
#main_board_zone .tab_content ul li:last-child{border-bottom:0;}

/* ���޴� �κ� */
#main_quick{width:100%;background: #58AEE6;border:1px solid #E8EAEB;padding:20px 10px 0 10px;box-sizing:border-box;font-family:'NotoSans-Medium';}
#main_quick ul:after{display:block;content:'';clear:both;}
#main_quick ul li{float: left;width:33.333%;margin-bottom:20px;text-align:center;}
#main_quick ul li a{color:#fff;display: block;}
#main_quick ul li i{width:100%;height:50px;display:block;background-repeat:no-repeat;background-position:center;margin-bottom:5px;}
#main_quick ul li i.icon1{background-image:url("../img/main/main_quick_icon1.png");}
#main_quick ul li i.icon2{background-image:url("../img/main/main_quick_icon2.png");}
#main_quick ul li i.icon3{background-image:url("../img/main/main_quick_icon3.png");}
#main_quick ul li i.icon4{background-image:url("../img/main/main_quick_icon4.png");}
#main_quick ul li i.icon5{background-image:url("../img/main/main_quick_icon5.png");}

/* SNS FEED �κ� */
#main_sns_feed{width:100%;height:285px;background:#4267B1;margin-top: 30px;}

@media(max-width:1200px){
	.main .container{padding:20px 0;}
	#main_left{padding:0 10px; width:66.666%;box-sizing:border-box;}
	#main_right{padding:0 10px; width:33.333%;box-sizing:border-box;margin-left:0;}
	#main_banner_zone{margin:0 -10px;}
	#main_banner_zone > div{padding:0 10px;box-sizing:border-box;margin-right:0;}
	#main_banner_zone > div a{display:flex;}
	#main_banner_zone .banner1{width:35%;height:auto;}
	#main_banner_zone .banner2{width:65%;height:auto;}
	#main_board_zone{margin-top:20px;}
	#main_sns_feed{margin-top:20px;}
	#main_board_zone .tab_content ul li{padding:0 20px;}
}
@media(max-width:1024px){
	#main_board_zone .tab_content ul li{line-height:40px;}
}
@media(max-width:768px){
	#main_left{width:100%;}
	#main_right{width:100%;}
	#main_banner_zone .banner1{width:auto;margin-bottom:20px;}
	#main_banner_zone .banner2{width:auto;}
	#main_quick{margin-top:20px;}
	#main_quick ul li{width:16.666%;}
}

@media(max-width:520px){
	#main_quick ul li{width:33.333%;}
	#top_search{display:none;}
}

@media(max-width:320px){
	.main .container{padding:10px 0;}
	#main_banner_zone .banner1{margin-bottom:10px;}
	#main_board_zone{margin-top:10px;}
	#main_quick{margin-top:10px;}
	#main_sns_feed{margin-top:10px;}
}